/*
@media only screen and (max-width : 480px) {
  body{
  background-color: blue;
  }
}
*/
html, body {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
#body{
    margin: 5vh 15vh 0vh 15vh;
    min-height: calc(100vh - 16vh);
}
#footer {
    clear: both;
    border-top: 1px solid #d5d5d5;
    margin-top: 3em;
    font-size: 1em;
    height: 9vh;   /* Height of the footer */
}
nav{
    text-align: right;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li {
    display: inline;
    margin-right: 20px;

}
nav ul li a {
    color: #000000;
    text-decoration: none;
}

footer ul li{
    display: inline;
    text-align: left;
}
footer{
    margin-left: 26%;
    padding-top: 1vh;
}
footer img {
    margin-right: 10%;
}
.content a {
    text-decoration: underline;
/*    color: #696969; */
      color: #447b1b;
}
/*
a:hover {
    text-decoration: underline;
}*/
#welcome-header {
    font-size: 3em;
}
.post-image{
  display: block;
  margin: auto;
  width: 30%;
}

h2 {
    border-bottom: 1px solid #333;
}
.h2-post{
    border-bottom: 0px;
}
h1 {
  padding-top: 1em;
  padding-bottom: .5em;
}
p, ul li {
    font-size: 1.1em;
    line-height: 1.4em;
    color: #333;
}
/*
ul.posts {
    markin: 20px auto 40px;
    font-size: 1.5em;
}
*/
#homepagePhoto {
    width: 30%;
    padding: 2%;
    float: left;
}
.social-media-icon {
    float: left;
    padding-right: 2%;
}
